header {
    background-image: url(../../dist/img/foo-visuals-5AMSZcgN_cM-unsplash.jpg);
	position: relative;
    z-index: 10;
    h1{
        font-weight: normal;
        font-size: clamp(2rem, 6.7vw, 9.2rem);
    }
    .honey-menu {
		width: 100%;
        height: clamp(150px,20vh,400px);
        rotate: 180deg;
        position: absolute;
        bottom: 0;
        z-index: -1;
	}
    .arrow {
		
		&:hover {
			transform: translateY(-10px);
			color: #000;
		}
	}
}
