@use './colors' as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 90px;
}
a {
	text-decoration: none;
	color: #fff;
}
body {
	background-color: $bg-color;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.btn {
	background-color: #7a665c;
	color: #fff;

	text-transform: uppercase;
	padding: clamp(7px, 1.6vw, 10px) clamp(14px, 4vw, 30px);
	font-size: clamp(14px, 1.4vw, 20px);
	border: none;
	border-radius: 99px;
	transition: box-shadow 0.3s;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 25px rgba($color: $gold, $alpha: 0.3);
	}
}
header {
	background-image: url('../../dist/img/maria-orlova-oMTlhdFUhdI-unsplash.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	height: 100dvh;
	display: flex;
	justify-content: center;
	gap: 4px;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 10;
	.contact-paralax {
		font-size: clamp(4rem, 10vw, 8rem);
	}
	.btn {
		transform: translateY(-20px);
	}
	.navbar {
		position: fixed;
		top: 30px;
		left: 50%;

		transform: translateX(-50%);
		background: linear-gradient(90deg, rgba(255, 204, 128, 0.9), rgba(255, 168, 77, 0.9));
		border-radius: 50px;
		width: clamp(500px, 60vw, 1000px);
		backdrop-filter: blur(1px);
		z-index: 1000;
		transition: border-bottom-right-radius 0.3s, border-bottom-left-radius 0.3s;
		.white-element {
			position: absolute;
			height: 100%;
			background-color: #fff;
			left: 0;
			width: 75px;
			visibility: visible;

			transition: width 0.3s, transform 0.3s;
			transform-origin: center;
			border-bottom-left-radius: 50px;
			border-bottom-right-radius: 80px;
			border-top-left-radius: 50px;
		}
		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0rem 2rem;
		}

		&__logo {
			font-size: clamp(1.4rem, 2vw, 2rem);
			font-weight: 600;
			color: #454545;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			transform: translateX(15px);
		}

		&__menu {
			list-style: none;
			display: flex;
			color: #454545;
			transition: top 2s;

			li {
				display: flex;
				align-items: center;
				height: 100%; // Zapewnia, że link wypełnia całą wysokość

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					text-decoration: none;
					font-size: clamp(1rem, 1.3vw, 1.8rem);
					font-weight: 500;
					color: #3d2b1f;
					padding: 2rem 1.5rem; // Wypełnia wysokość li
					width: 100%; // Rozciąga się na całą szerokość
					height: 100%; // Pełna wysokość elementu
					transition: color 0.3s;

					&:hover {
						color: white;
					}
				}
			}
		}

		&__toggle {
			display: none;
			background: none;
			border: none;
			font-size: 3rem;
			cursor: pointer;
			color: #3d2b1f;
			transform: translateX(-15px);
		}
	}

	// Mobile Styles
	@media (max-width: 768px) {
		.navbar {
			width: 80%;
			&__menu {
				position: absolute;

				top: -350px;
				left: 0;
				opacity: 0;
				width: 100%;
				background: linear-gradient(90deg, rgba(255, 204, 128, 0.9), rgba(255, 168, 77, 0.9));
				flex-direction: column;
				align-items: center;
				transition: opacity 0.3s;

				z-index: -1;

				li {
					width: 100%;

					a {
						width: 100%;
						text-align: center;
					}
				}
			}

			&__toggle {
				display: block;
			}
			&__container {
				padding: 1em 2em;
			}
		}

		.navbar.open .navbar__menu {
			display: flex;
			top: 100%;
			opacity: 1;
			border-bottom-right-radius: 15px;
			border-bottom-left-radius: 15px;
		}
		.border {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			.white-element {
				width: 0;
				transform: scale(0);
			}
		}
	}

	.arrow {
		position: absolute;
		bottom: 0;
		padding: 1em;
		font-size: clamp(20px, 3vw, 32px);
		cursor: pointer;
		transition: transform 0.5s, color 0.3s;
		&:hover {
			transform: translateY(-10px);
			color: $gold;
		}
	}
	.bg-shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: -1;
		background-color: rgba($color: #000000, $alpha: 0.6);
	}
	h1 {
		font-size: clamp(3rem, 6.7vw, 9.2rem);
		font-weight: 500;
		text-shadow: 0 5px 100px $gold;
		.gradient {
			background: linear-gradient(210deg, $gold, wheat); // Gradient w odcieniach złota/karmelu
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		transform: translateY(-20px);
	}
	p {
		font-size: clamp(1.4rem, 2.5vw, 4rem);
		font-weight: 300;
		transform: translateY(-20px);
	}
}
main {
	.about-us {
		.honey {
			z-index: -10;
			position: relative;
			img {
				width: 100%;
				filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.25));
			}
			.section-title {
				color: $main;
				position: absolute;
				z-index: auto;
				top: clamp(15px, 3vw, 110px);
				font-weight: 500;
				left: 50%;
				font-size: clamp(15px, 3vw, 3rem);
				transform: translateX(-50%);
				z-index: 1;
			}
		}

		.about-us-content {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 20px;
			padding-bottom: 80px;

			z-index: -1;
			.about-us-container {
				position: relative;

				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				gap: 15px;
				.text {
					height: clamp(110px, 30vw, 380px);
					width: clamp(130px, 35vw, 500px);
					display: flex;
					justify-content: center;
					align-items: left;
					flex-direction: column;
					color: $main;
					h3 {
						font-weight: 500;
						letter-spacing: 1px;
						font-size: clamp(1.2rem, 2vw, 2.5rem);
					}
					p {
						font-size: clamp(0.8rem, 1vw, 1.2rem);
					}
				}
				.img {
					img {
						height: clamp(110px, 30vw, 380px);
						width: clamp(130px, 35vw, 500px);
					}
				}
			}
		}
	}
	.hero-img {
		width: 100%;
		height: clamp(150px, 50vh, 550px);
		background-image: url(../../dist/img/coffee-beans-7126154_1280.webp);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		z-index: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.blur {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba($color: #000, $alpha: 0.1);
			backdrop-filter: blur(3px);
			z-index: -2;
		}
		a {
			z-index: 2;
		}
		h2 {
			color: #fff;
			font-size: 6vw;
			font-weight: normal;
		}
	}
	.reviews-section {
		padding: 1em;
		.stars {
			text-align: center;
			padding-top: clamp(10px, 4vh, 52px);
			.star {
				width: clamp(30px, 6vw, 70px);
				padding: clamp(0.2em, 1vw, 0.4em);
				height: 50px;
			}
		}
		h2 {
			text-align: center;
			font-size: clamp(1.5rem, 3vw, 5rem);
			color: $accent;
		}
		.review {
			display: flex;
			padding-top: clamp(10px, 4vh, 52px);
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 2em;
			.review-text {
				position: relative;
				text-align: center;
				.review-texts-container {
					font-size: clamp(1rem, 3vw, 2rem);
					font-weight: 400;
					transition: opacity 0.3s;
					display: flex;
					justify-content: center;
					align-items: center;
					height: clamp(80px, 30vh, 100px);
				}
				width: 83%;
				padding: clamp(2em, 2vh, 6em) 2em;
				max-width: 900px;
				color: $main;
			}
			.autor {
				text-align: center;
				.name {
					font-size: clamp(1rem, 2vw, 1.3rem);
					font-weight: 550;
					color: $main;
				}
				.func {
					font-size: clamp(1rem, 2vw, 1.2rem);
					font-weight: 350;
					color: $main;
				}
			}
			.review-btn {
				position: absolute;
				border: none;
				background: none;
				cursor: pointer;
				font-size: clamp(3.3rem, 6vw, 9rem);
				padding: 0.5em;
				color: $accent;
				transition: scale 0.3s;
				&:hover {
					scale: 1.1;
				}
				span {
					font-weight: 300;
				}
			}
			.left-btn {
				left: -13%;
				top: 50%;
				transform: translateY(-50%);
			}
			.right-btn {
				right: -11%;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.linear-gradient {
		width: 100%;
		height: clamp(100px, 35vh, 200px);
		background: linear-gradient($bg-color, $main);
	}
	.contact-section {
		background-color: $bg-color;
		text-align: center;
		.section-heading {
			padding-top: clamp(1em, 5vh, 1.5em);
			font-size: clamp(2rem, 6vw, 4rem);
			font-weight: 450;
		}
		.contact-container {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			
			padding: 1em;

			.wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				gap: 1em;
				.left-box {
					color: $bg-color;
					background-color: $main;
					width: clamp(250px, 70vw, 800px);
					
					border-radius: 20px;

					form {
						padding: 1em;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						font-size: 2rem;
						label {
							align-self: first baseline;
							padding-left: 0.3em;
							padding-top: 0.5em;
						}
						input,
						textarea {
							border: 1px solid $bg-color;
							background-color: $gold;
							border-radius: 20px;
							padding: 0.6em;
							width: 100%;
						}
						label {
							&:first-child {
								padding-top: 0;
							}
						}
						textarea {
							max-width: 100%;
							min-width: 100%;

							min-height: 155px;
							max-height: 250px;
						}
						.contact-button {
							padding: 0.5em 0.5em;
							border-radius: 12px;
							background-color: $bg-color;
							border: none;
							text-transform: uppercase;
							cursor: pointer;
							margin-top: 0.5em;
							transition: padding .3s;
							align-self: flex-end;
						}
						.contact-button:hover{
							padding: .60em;
						}
					}
				}
				.right-box {
					background-color: $gold;
					width: clamp(250px, 70vw, 800px);
					height: clamp(300px, 50vh, 600px);
					
					display: flex;
					justify-content: space-around;
					align-items: center;
					flex-direction: column;
					font-size: 2rem;
					border-radius: 20px;
					.box-container{
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						gap: 8px;
						transition: scale .3s;
						padding: 1em;
						i{
							font-size: 3rem;

						}
						p{
							font-size: 1.5rem;
						}
						
					}
					.box-container:hover{
						scale: .95;
					}
				}
			}
		}
	}
}
footer {
	background-color: $main;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h2 {
		font-size: 2rem;
		padding: clamp(1em, 5vw, 2.5em);
		font-weight: 600;
		align-self: flex-start;
	}
	hr {
		width: 100%;
		border: none;
		height: clamp(1px, 0.1vh, 3px);
		background: linear-gradient(to right, transparent, rgba($bg-color, 0.5), transparent);
	}
	p {
		font-size: 1.2rem;
		padding: 1em;
	}
}
@media (min-width:768px) {
	main{

		.contact-section {
			background-color: $bg-color;
			text-align: center;

			.section-heading {
				padding-top: clamp(1em, 5vh, 1.5em);
				font-size: clamp(2rem, 6vw, 4rem);
				font-weight: 450;
			}
			.contact-container {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 10em;
				padding: 1em;
				
				.wrapper {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: row;
					gap: 1em;
					.left-box {
						color: $bg-color;
					background-color: $main;
					width: clamp(150px, 40vw, 550px);
					
					border-radius: 20px;
					
					form {
						padding: 1em;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						font-size: 2rem;
						label {
							align-self: first baseline;
							padding-left: 0.3em;
							padding-top: 0.5em;
						}
						input,
						textarea {
							border: 1px solid $bg-color;
							background-color: $gold;
							border-radius: 20px;
							padding: 0.6em;
							width: 100%;
						}
						label {
							&:first-child {
								padding-top: 0;
							}
						}
						textarea {
							max-width: 100%;
							min-width: 100%;
							
							min-height: 250px;
							max-height: 250px;
						}
						.contact-button {
							padding: 0.5em 0.5em;
							border-radius: 12px;
							background-color: $bg-color;
							border: none;
							text-transform: uppercase;
							cursor: pointer;
							margin-top: 0.5em;
							transition: padding .3s;
							align-self: flex-end;
						}
						.contact-button:hover{
							padding: .60em;
						}
					}
				}
				.right-box {
					background-color: $gold;
					width: clamp(150px, 40vw, 550px);
					height: clamp(300px, 50vh, 600px);
					
					display: flex;
					justify-content: space-around;
					align-items: center;
					flex-direction: column;
					font-size: 2rem;
					border-radius: 20px;
					.box-container{
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						gap: 8px;
						transition: scale .3s;
						padding: 1em;
						i{
							font-size: 3rem;
							
						}
						p{
							font-size: 1.5rem;
						}
						
					}
					.box-container:hover{
						scale: .95;
					}
				}
			}
		}
	}
}
}
@media (min-width: 1600px) {
	main {
		.reviews-section {
			.stars {
				padding-top: clamp(10px, 89vh, 100px);
				.star {
					width: clamp(30px, 6vw, 70px);
					padding: clamp(0.2em, 1vw, 0.4em);
				}
			}
			h2 {
				font-size: clamp(1.5rem, 3vw, 6rem);
			}
			.review {
				gap: 3em;
				.review-text {
					.review-texts-container {
						font-size: clamp(1rem, 3vw, 2.3rem);
						font-weight: 400;
					}

					width: 83%;

					padding: 5em 2em;
				}

				.review-btn {
					font-size: clamp(3.3rem, 6vw, 9rem);
				}
				.left-btn {
					left: -20%;
				}
				.right-btn {
					right: -20%;
				}
			}
		}
	}
}
